<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Add Container</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <form>
      <div class="list">
        <label class="item item-input">
          <input ng-model="form.name" type="text" placeholder="Container Name">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Type
          </div>
          <select ng-model="form.type" ng-init="form.type = containerOptions[0]" ng-options="option.value for option in containerOptions" >
          </select>
        </label>
      </div>
    </form>
    <button ng-click="modalProps.executeFn(modalProps.container)"class="button button-block button-balanced ">{{modalProps.buttonName}}</button>
    <button ng-click="closeAddContainerModal()" class="button button-block button-stable">Cancel</button>
  </ion-content>
</ion-modal-view>

