/** Need to move to SASS **/

.button-mode-on {
  color: blue;
}

.subtle {
  color: #ccc;
}

/* Centers Graph */
.sf-pie-graph .nvd3-svg {
  margin: 0 auto;
}

/* Ionic Customizations */
.item-divider-button-left {
  position: absolute;
  z-index: 3;
  left: 8px;
  min-height: 0px;
  max-height: 20px;
  top: 8px;
  line-height: normal;
}

.form-error {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  color: red;
  background: #f5f5f5;
  text-align: center;
}

/** ITEM **/

.item--selected {
  background-color: #f3f3f3 !important;
}

.item:active {
  background-color: #fff;
}

.item .button-bar {
  width: 100%;
  background: #bbb;
  clear: left;
  display: flex;
  flex-direction: row-reverse;

}

.item .button-bar .btn {
  display: flex;
  flex-grow: 1;
  padding: 5px;
  cursor: pointer;
}

.item .button-bar .btn:hover {
  background-color: #999;
}

.item .button-bar .btn:active {
  background-color: #777;
}

.item .button-bar .btn span {
  margin: 0 auto;
}

/****** Animation *********/

.closed {
  height: 0px;
}

.open {
  height: 30px;
}

.transition-height {
  -webkit-transition: height 250ms ease;
  -moz-transition: height 250ms ease;
  -o-transition: height 250ms ease;
  -ms-transition: height 250ms ease;
  transition: height 250ms ease;

}
